* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.yt {
    color: #fff;
}

.hart {
    color: rgb(218, 32, 32);
}

body {
    background-color: #0C1618;
}


.header {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #232b2b;
}

h1 {
    margin-top: 100px;
    text-align: center;
    color: #fff;
}


.fasfabox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;       
    width: 80%;
    margin: 1rem auto; 
    padding-left: 25px;
    position: relative;
    height: 50px;
}

.head-box1 {
    padding-top: 100px;
}

.head-box2 {
    padding-top: 100px;
    margin-left: 15px;
}


i {
    color: #fff;
    cursor: pointer;
    padding-right: 1rem;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: aliceblue;
    padding-right: 1rem;
}

.menu {
    display: none;
}

.big-container{
    margin-top: 8dvw;
    margin-left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60dvh;
}

.small-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30dvh;
}

.big-box-container{
    padding: 1px;
}

.small-box .box{
    padding: 1px;
    overflow: hidden;
}

.big-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.picb {
    width: 80%;
    height: 600px;
    margin-left: 10%;
    margin-top: 5dvw;
    background-image: url('body.gif');
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
}


.con {
    position: relative;
    width: 90%; 
    margin: auto;
    height: auto; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-items: center; 
}


.con .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-top: 45px;
}

.con .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}

.con .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.con .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(249, 221, 252), #000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}

.con .box:hover .imgBx:before {
    opacity: 1;
}

.con .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.con .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}

.con .box .content h2 {
    text-shadow: 4px 4px #0C1618;
    color: rgb(93, 190, 93);
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
}

.con .box:hover .content h2 {
    transform: translateY(0px);
}

.con .box .content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
}

.con .box:hover .content p {
    transform: translateY(0px);
}

.con .box {
    border-radius: 10px;
    box-shadow: 10px 10px 20px 5px rgba(136, 100, 165, 0.664);
    cursor: pointer;
}

@media (max-width: 1024px) {
    
    .waya {
        display: none;
    }
    .menu {
        display: block;
    }
    .con {
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center; 
        margin-bottom: 8dvh;
    }

    .big-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .waya {
        display: none;
    }
    .menu {
        display: block;
    }
    .con {
        grid-template-columns: 1fr; 
        justify-items: center;
        margin-bottom: 10dvh;
    }

    .big-container{
        grid-template-columns: 1fr;
    }
    
}

/* About */
.h-box {
    color: white;
    text-align: center;
    width: 100%;
    max-width: 600dvw;
    margin: auto;
    padding: 40px 10px;
}


.imagebox2 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-left: 20px;
}

.sec-four{
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 4%;
    margin-right: 4%;
    
}

.textbox2 {
    background-color: #232b2b;
    max-width: 600px;
    color: rgb(255, 255, 255);
    text-align: justify;
    margin-right: 20px;
    padding: 20px;
}

.features-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
    text-align: center;
    padding-top: 90px;
    margin-left: 85px;
    
    
}


.feature-box {
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(102, 51, 196, 0.1);
    width: 300px;
    line-height: 1.5;
    color: #fff;
    background-color: #232b2b;
    border-radius: 10px;
}


.feature-box i {
    font-size: 90px;
    color: blueviolet;
    margin-bottom: 15px;
    margin-left: 18px;
}

.bosref {
    color: #fff;
    margin-top: 80px;
    text-align: center;
    padding: 50px;
    background: #232b2b;
}

.bosref h2 {
    margin-bottom: 20px;

}
.bosref .p3 {
    font-size: 18px;
    color: #fff;
}

/* Characters */

.about-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}

.conBox {
    background: #232b2b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px #fff;
    display: flex;
    gap: 20px;
}

.color {
    text-shadow: 4px 4px #0C1618;
    color: rgb(93, 190, 93);
    font-size: 30px;
    font-weight: bold;
}

.color2 {
    font-size: 20px;
    color: blueviolet;
    line-height: 1.5;
}

.about {
    font-size: 20px;
    color: #fff;
    line-height: 1.5;
}

img{
    object-fit: cover;
    width: 200px;
    height: 300px;
}

@media (max-width: 1024px) {
    .about-one {
        grid-template-columns: repeat(2, 1fr); 
    }
    .features-section {
        grid-template-columns: repeat(2, 1fr); 
    }

    .sec-four {
        grid-template-columns: 1fr; 
    }

    .sec-four .imagebox2{
        margin-right: 5%;
    }

    .sec-four .textbox2{
        max-width: 100%;
        margin-left: 5%;
        margin-right: 4%;
    }
}

@media (max-width: 500px) {
    
    .about-one {
        grid-template-columns: 1fr; 
    }
    .features-section {
        grid-template-columns: 1fr;
    }
    .sec-four {
        grid-template-columns: 1fr; 
    }
}

/* Project */
.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 40px;
}

.project-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 3px 10px rgba(136, 100, 165, 0.664);
    
}

.project-box img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.project-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


.project-box:hover .project-content {
    transform: translateY(0);
    opacity: 1;
}

.project-box:hover img {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}
